h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold
}
html,
body {
  height: 100%;
  background-color: #775252;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
}